In [1]:
import pandas as pd 

file= r'E:\1 Kuliah\Semester 4\A.I\projek\gender_submission.csv'
df=pd.read_csv(file)

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [2]:
print(df.head())
df.info()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
dtypes: int64(2)
memory usage: 6.7 KB

In [8]:
duplicate_count = df.duplicated(subset='PassengerId').sum()
print(f"duplikat :{duplicate_count}")

duplikat :0

kalo ada duplikat kita bisa gunakan sintaks
df.drop_duplicates(subset='kolom')

In [9]:
print(df.isnull().sum())

PassengerId    0
Survived       0
dtype: int64

kalo ada missing value maka si kolom perlu ditentukan apakah akan diisi dengan nilai baru atau di hapus bila ingin dihapus gunakan sintaks
df.dropna()

In [10]:
df['PassengerId']=df['PassengerId'].astype(int)
df['Survived']=df['Survived'].astype(int)

In [12]:
print(df['Survived'].unique())

[0 1]